{% comment %} PRODUCT {% endcomment %}


{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div id="cart-notification-product-{{ item.id }}" class="cart-item">
      {% if item.image %}
        <img class="cart-notification-product__image"
          src="{{ item.image | img_url: '140x' }}"
          alt="{{ item.image.alt | escape }}"
          width="70"
          height="{{ 70 | divided_by: item.image.aspect_ratio | ceil }}"
          loading="lazy"
        >
      {% endif %}
      <div class="prod-info">
          <div class="prod-info-wrapper">
            <div class="prod-info-header">
            <h3 class="cart-notification-product__name h4">{{ item.product.title | escape }}</h3>
              <dl>
                {%- unless item.product.has_only_default_variant -%}
                  {%- for option in item.options_with_values -%}
                    <div class="product-option">
                      <dt>{{ option.name }}: </dt>
                      <dd>{{ option.value }}</dd>
                    </div>
                  {%- endfor -%}
                {%- endunless -%}
                {%- for property in item.properties -%}
                  {%- assign property_first_char = property.first | slice: 0 -%}
                  {%- if property.last != blank and property_first_char != '_' -%}
                    <div class="product-option">
                      <dt>{{ property.first }}: </dt>
                      <dd>
                        {%- if property.last contains '/uploads/' -%}
                          <a href="{{ property.last }}" class="link" target="_blank">
                            {{ property.last | split: '/' | last }}
                          </a>
                        {%- else -%}
                          {{ property.last }}
                        {%- endif -%}
                      </dd>
                    </div>
                  {%- endif -%}
                {%- endfor -%}
              </dl>

            {%- if item.selling_plan_allocation != nil -%}
              <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
            {%- endif -%}

            {%- if product.metafields.reviews.rating.value != blank -%}
              {% liquid
               assign rating_decimal = 0
               assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
               if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
               endif
              %}
              <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
              </div>
            {%- endif -%}

            {% comment %} ----- REMOVE BUTTON ------ {% endcomment %}
            <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
              <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}" onclick="return false;">
                {% render 'icon-remove' %}
              </a>
            </cart-remove-button>

          </div>

          {% comment %} ----- QUANTITY SELECTOR ------ {% endcomment %}
          <div class="prod-info-footer">
            <div class="qty">
              <div id="Mini" class="cart-item__quantity-wrapper">
                <quantity-input class="quantity">
                  <button class="qtybtn-{{ item.index }} quantity__button no-js-hidden minus" name="minus" type="button">
                    <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                    {% render 'icon-minus' %}
                  </button>
                  <input class="qtyinput-{{ item.index }} quantity__input item-{{ item.index }}"
                    type="number"
                    name="updates[]"
                    value="{{ item.quantity }}"
                    min="0"
                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                    id="Quantity-{{ item.index | plus: 1 }}"
                    data-index="{{ item.index | plus: 1 }}"
                  >
                  <button class="qtybtn-{{ item.index }} quantity__button no-js-hidden plus" name="plus" type="button" onclick="addItem({{ item.index }}, {{ item.id }}, {{ line_item.quantity | plus: 1 }});">
                    <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                    {% render 'icon-plus' %}
                  </button>
                </quantity-input>
              </div>

            </div>

            <div class="price">
              <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                {{ item.final_line_price | money }}
              </div>
              {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product__tax caption rte">
                  {%- if shop.taxes_included -%}
                    {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
                {%- endif -%}
            </div>
          </div>

        </div>
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}


<script type="text/javascript">

    // ADD / SUB PRODUCTS FROM CART

      jQuery(document).ready(function( $ ) {
        var val;

        $('.quantity__button.plus').click(function() {
          var classList = $(this).attr("class").split(/\s+/);
          var bullIdx = Number(classList[0].substr(-1, 1));
          idx = bullIdx;
          val = Number($('.qtyinput-' + idx).val()) + 1;
          $('.qtyinput-' + idx).val(val);
        });

        $('.quantity__button.minus').click(function() {
          var classList = $(this).attr("class").split(/\s+/);
          var bullIdx = Number(classList[0].substr(-1, 1));
          idx = bullIdx;
          val = Number($('.qtyinput-' + idx).val()) - 1;
          if ( val <= 1 ) val = 1;
          $('.qtyinput-' + idx).val(val);
        });
      });

      function addItem(idx, id, qty) {
            jQuery.post(window.Shopify.routes.root + 'cart/add.json', {
            id: id,
            quantity: qty,
            dataType: 'json',
            data: $('form[action="/cart/add"]').serialize()
          }
        );
        var ct = Number($('.cart-count-bubble > span:first-child').text()) + qty;
        $('.cart-count-bubble > span').text(ct);
        console.log(idx, id, qty, 'Updated!', ct + " In Cart");
      };
</script>
