<div class="js-contents" {{ block.shopify_attributes }}>
  <div class="totals">
    <p class="totals__subtotal-value">{{ cart.total_price | money }}</p>
  </div>

  <div>
    {%- if cart.cart_level_discount_applications.size > 0 -%}
      <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
        {%- for discount in cart.cart_level_discount_applications -%}
          <li class="discounts__discount discounts__discount--end">
            {%- render 'icon-discount' -%}
            {{ discount.title }}
            (-{{ discount.total_allocated_amount | money }})
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>
