{% comment %}
    Renders cart notification

    Accepts:
    - color_scheme: {String} sets the color scheme of the notification (optional)

    Usage:
    {% render 'cart-notification' %}
{% endcomment %}

<cart-notification>
  <div class="cart-notification-wrapper page-width{% if color_scheme %} color-{{ color_scheme }}{% endif %}">
    <div id="cart-notification" class="cart-notification focus-inset" aria-modal="true" aria-label="{{ 'general.cart.item_added' | t }}" role="dialog" tabindex="-1">
      <div class="cart-notification__header">
        <button type="button" class="cart-notification__close modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
          <svg class="icon icon-close" aria-hidden="true" focusable="false"><use href="#icon-close"></svg>
        </button>
        <h2 class="cart-notification__heading caption-large text-body">SHOPPING CART</h2>
      </div>
      <div id="cart-notification-product" class="cart-notification-product">
          {% comment %} PRODUCT {% endcomment %}
          {%- render 'cart-notification-product' -%}
      </div>
      <div id="cart-notification-subtotal">
        <div class="sub">SUBTOTAL: </div>
        <div class="tot">
          {% comment %} SUBTOTALS {% endcomment %}

                <div class="js-contents" {{ block.shopify_attributes }}>
                  <div class="totals">
                    <p class="totals__subtotal-value">{{ cart.total_price | money }}</p>
                  </div>

                  <div>
                    {%- if cart.cart_level_discount_applications.size > 0 -%}
                      <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount in cart.cart_level_discount_applications -%}
                          <li class="discounts__discount discounts__discount--end">
                            {%- render 'icon-discount' -%}
                            {{ discount.title }}
                            (-{{ discount.total_allocated_amount | money }})
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </div>
              </div>

        </div>
      </div>
      {% render 'cart-notification-note' %}

      <div class="cart-notification__links">
        <a href="{{ routes.cart_url }}" id="cart-notification-button" class="button button--secondary button--full-width"></a>
        <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form">
          <button class="button button--primary button--full-width" name="checkout">{{ 'sections.cart.checkout' | t }}</button>
        </form>
        {% comment %} <button type="button" class="link button-label">{{ 'general.continue_shopping' | t }}</button> {% endcomment %}
      </div>
    </div>
  </div>
</cart-notification>

  <style type="text/css">
    body.mobile .cart-notification {
      background-color: #fff;
    }
    #Mini .cart-item__quantity-wrapper * {
      font-size: 0.8rem;
    }
    #Mini .quantity {
      border: none;
      height: 4.5rem;
      width: 30%;
      display: flex;
    }
    #Mini .quantity__button {
      width: 1rem;
    }
    #Mini .quantity__button svg {
      font-size: 0.7rem;
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#cart-notification .icon-close').css({ visibility: "hidden" });
      $('.cart-notification-wrapper .modal__close-button').css({ display: 'none'});
      $('.header__icon--cart').click(function() {
        console.log("cart-notification toggled.");
        $('.cart-notification').toggleClass('active');
        $('body').toggleClass('menu-open');
        $('#cart-notification .icon-close').css({ visibility: "visible" });
        $('.cart-notification-wrapper .modal__close-button').css({ display: 'flex'});
      });
      $('.cart-notification__header').click(function() {
        console.log("cart-notification closed.");
        $('.cart-notification').removeClass('active');
        $('body').removeClass('menu-open');
        $('#cart-notification .icon-close').css({ visibility: "hidden" });
        $('.cart-notification-wrapper .modal__close-button').css({ display: 'none'});
      });
    })
  </script>
