{% if product.metafields.custom_fields["promo_banner"] != blank %}
  <div class="custom-field custom-field__promo-banner custom-field__type--field-collection-json">
    <h3 class="custom-field--title">Promo Banner</h3>
    <div class="custom-field--value">
      {% for item in product.metafields.custom_fields["promo_banner"] %}
        <div class="fc-item fc-index--{{ forloop.index0 }}">
           {% if item["background"] != blank %}
             <div class="fc-field field__background field-type--image">
               <h4 class="custom-field--title">Background</h4>
               <div class="custom-field--value">
                 {{ item["background"] }}
               </div>
             </div>
           {% endif %}
           {% if item["mobile_image"] != blank %}
             <div class="fc-field field__mobile-image field-type--image">
               <h4 class="custom-field--title">Mobile Background</h4>
               <div class="custom-field--value">
                 {{ item["mobile_image"] }}
               </div>
             </div>
           {% endif %}
           {% if item["alt_text"] != blank %}
             <div class="fc-field field__alt-text field-type--text">
               <h4 class="custom-field--title">Alt Text</h4>
               <div class="custom-field--value">
                 {{ item["alt_text"] }}
               </div>
             </div>
           {% endif %}
           {% if item["headline"] != blank %}
             <div class="fc-field field__headline field-type--text">
               <h4 class="custom-field--title">Headline</h4>
               <div class="custom-field--value">
                 {{ item["headline"] }}
               </div>
             </div>
           {% endif %}
           {% if item["copy"] != blank %}
             <div class="fc-field field__copy field-type--html">
               <h4 class="custom-field--title">Copy</h4>
               <div class="custom-field--value">
                 {{ item["copy"] }}
               </div>
             </div>
           {% endif %}
           {% if item["dark_text"] != blank %}
             <div class="fc-field field__dark-text field-type--checkbox">
               <h4 class="custom-field--title">Dark Text</h4>
               <div class="custom-field--value">
                 {{ item["dark_text"] }}
               </div>
             </div>
           {% endif %}
         </div>
       {% endfor %}
    </div>
  </div>
{% endif %}