<media-gallery id="MediaGallery-{{ section.id }}" role="region" {% if section.settings.enable_sticky_info %}class="product__media-gallery"{% endif %} aria-label="{{ 'products.product.media.gallery_viewer' | t }}" data-desktop-layout="{{ section.settings.gallery_layout }}">
  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>

  {%- if section.settings.gallery_layout == 'stacked' -%}
      {% comment %} STACKED LAYOUT {% endcomment %}
      <slider-component id="GalleryViewer-{{ section.id }}" class="slider-mobile-gutter">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        <ul id="Slider-Gallery-{{ section.id }}" class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
          {%- liquid
            assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
            assign media_count = product.media.size
            if section.settings.hide_variants
              assign media_count = media_count | minus: variant_images.size | plus: 1
            endif

            if section.settings.media_size == 'large'
              assign media_width = 0.65
            elsif section.settings.media_size == 'medium'
              assign media_width = 0.55
            elsif section.settings.media_size == 'small'
              assign media_width = 0.45
            endif
          -%}
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
            <li id="Slide-{{ section.id }}-{{ featured_media.id }}" class="product__media-item grid__item slider__slide is-active{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains featured_media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
              {%- assign media_position = 1 -%}
              {% render 'product-thumbnail', media: featured_media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width %}
            </li>
          {%- endif -%}
          {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              <li id="Slide-{{ section.id }}-{{ media.id }}" class="product__media-item grid__item slider__slide{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                {%- assign media_position = media_position | default: 0 | plus: 1 -%}
                {% render 'product-thumbnail', media: media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width %}
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
        <div class="slider-buttons no-js-hidden{% if media_count < 2 or section.settings.mobile_thumbnails == 'show' %} small-hide{% endif %}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ media_count }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      </slider-component>
  {%- else -%}


      {% comment %} LARGE GALLERY LAYOUT {% endcomment %}
      <slider-component id="LargeCarouselViewer-{{ section.id }}" class="slider-mobile-gutter large-carousel">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret left" viewBox="0 0 10 6">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
        </svg>

        <ul id="Carousel-Gallery-{{ section.id }}" class="product__media-list grid grid--peek list-unstyled slider slider--mobile carousel-window" role="list">
          {%- liquid
            assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
            assign media_count = product.media.size
            if section.settings.hide_variants
              assign media_count = media_count | minus: variant_images.size | plus: 1
            endif

            if section.settings.media_size == 'large'
              assign media_width = 0.65
            elsif section.settings.media_size == 'medium'
              assign media_width = 0.55
            elsif section.settings.media_size == 'small'
              assign media_width = 0.45
            endif
          -%}

          {%- for media in product.media -%}
              <li id="Slide-{{ section.id }}-{{ media.id }}" class="product__media-item grid__item slider__slide{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %} index-{{ forloop.index }}" data-media-id="{{ section.id }}-{{ media.id }}">
                {%- assign media_position = media_position | default: 0 | plus: 1 -%}
                {% render 'product-thumbnail', media: media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width %}
              </li>
          {%- endfor -%}
        </ul>
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret right" viewBox="0 0 10 6">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
        </svg>
      </slider-component>

      {%- include 'slider-pagination' -%}

      <style type="text/css">
        .large-carousel .grid {
          flex-wrap: nowrap;
        }
        .large-carousel .product__media-item.grid__item {
          width: 100%;
        }
        .large-carousel {
          overflow: hidden;
          max-width: 800px;
          display: flex;
          margin-left: -10rem;
          align-items: center;
        }
        .large-carousel .carousel-window {
          max-width: 600px;
          width: 100%;
          margin: 0 5rem;
        }
        .icon-caret {
          position: relative;
          z-index: 2;
          width: 30px;
          height: fit-content;
        }
        .icon-caret:hover {
          opacity: .5;
          cursor: pointer;
        }
        .icon-caret.right {
          transform: rotate(-90deg);
        }
        .icon-caret.left {
          transform: rotate(90deg);
        }
        .swiper-pagination {
          margin-top: 2rem;
        }
        .swiper-pagination.flex {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: 20px;
        }
        .swiper-pagination-bullet {
          border-top: 2px solid rgba(18,18,18,.2);
          height: 20px;
        }
        .swiper-pagination-bullet:hover:not(.active) {
          border-top: 2px solid rgba(18,18,18,.5);
          cursor: pointer;
        }
        .swiper-pagination-bullet.active {
          border-top: 4px solid rgba(18,18,18,1);
        }
      </style>
  {%- endif -%}

  {%- if section.settings.gallery_layout == 'thumnail' or section.settings.gallery_layout == 'thumbnail_slider' -%}
      {%- include "thumbnail-carousel" -%}
  {%- endif -%}
</media-gallery>
