<media-gallery id="MediaGallery-{{ section.id }}" role="region" {% if section.settings.enable_sticky_info %}class="product__media-gallery"{% endif %} aria-label="{{ 'products.product.media.gallery_viewer' | t }}" data-desktop-layout="{{ section.settings.gallery_layout }}">
  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>

  {%- if section.settings.gallery_layout == 'stacked' -%}
      {% comment %} STACKED LAYOUT {% endcomment %}
      <slider-component id="GalleryViewer-{{ section.id }}" class="slider-mobile-gutter">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        <ul id="Slider-Gallery-{{ section.id }}" class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
          {%- liquid
            assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
            assign media_count = product.media.size
            if section.settings.hide_variants
              assign media_count = media_count | minus: variant_images.size | plus: 1
            endif

            if section.settings.media_size == 'large'
              assign media_width = 0.65
            elsif section.settings.media_size == 'medium'
              assign media_width = 0.55
            elsif section.settings.media_size == 'small'
              assign media_width = 0.45
            endif
          -%}
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
            <li id="Slide-{{ section.id }}-{{ featured_media.id }}" class="product__media-item grid__item slider__slide is-active{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains featured_media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
              {%- assign media_position = 1 -%}
              {% render 'product-thumbnail', media: featured_media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width %}
            </li>
          {%- endif -%}
          {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              <li id="Slide-{{ section.id }}-{{ media.id }}" class="product__media-item grid__item slider__slide{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                {%- assign media_position = media_position | default: 0 | plus: 1 -%}
                {% render 'product-thumbnail', media: media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width %}
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
        <div class="slider-buttons no-js-hidden{% if media_count < 2 or section.settings.mobile_thumbnails == 'show' %} small-hide{% endif %}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ media_count }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      </slider-component>
  {%- else -%}


      {% comment %} LARGE GALLERY LAYOUT {% endcomment %}
      <slider-component id="LargeCarouselViewer-{{ section.id }}" class="slider-mobile-gutter large-carousel">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        <ul id="Slider-Gallery-{{ section.id }}" class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
          {%- liquid
            assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
            assign media_count = product.media.size
            if section.settings.hide_variants
              assign media_count = media_count | minus: variant_images.size | plus: 1
            endif

            if section.settings.media_size == 'large'
              assign media_width = 0.65
            elsif section.settings.media_size == 'medium'
              assign media_width = 0.55
            elsif section.settings.media_size == 'small'
              assign media_width = 0.45
            endif
          -%}

          {%- for media in product.media -%}
              <li id="Slide-{{ section.id }}-{{ media.id }}" class="product__media-item grid__item slider__slide{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                {%- assign media_position = media_position | default: 0 | plus: 1 -%}
                {% render 'product-thumbnail', media: media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width %}
              </li>
          {%- endfor -%}
        </ul>

        <style type="text/css">

        </style>
      </slider-component>


  {%- endif -%}

  {%- if section.settings.gallery_layout == 'thumnail' or section.settings.gallery_layout == 'thumbnail_slider' -%}
      {%- include "thumbnail-carousel" -%}
  {%- endif -%}
</media-gallery>
