<div id="MegamenuThumbs{{ tag.index }}" class="megathumb">
  <h3 class="megamenu-heading">SHOP FEATURED ITEMS</h3>
  <div class="mega-thumbs">
  {%- for product in collections.all.products -%}
    {%- for tag in product.tags -%}
      {%- if tag contains "megamenu-featured" -%}
          <div class="mega-thumb">
            <a href="{{ product.url }}" class="mega-thumb-link">
            <img
              srcset="{{ product.featured_image | img_url: '165x' }}"
              src="{{ product.featured_image | img_url: '165x' }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 3 }}px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
              alt="{{ product.title | escape }}"
              height="{{ product.featured_image.height }}"
              width="{{ product.featured_image.width }}"
              loading="lazy"
              class="mega-thumb-image"
              >
            </a>
              <span>{{ product.title }}</span>
          </div>
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
  </div>
</div>

<style type="text/css">

  div[id*="MegamenuThumbs"] .mega-thumbs {
      margin: 2rem auto 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      min-height: 100px;
      width: min-content;
      grid-column-gap: 5rem;
  }
  div[id*="MegamenuThumbs"] .mega-thumb {
      min-height: 100px;
      display: block;
      text-align: center;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  div[id*="MegamenuThumbs"] .mega-thumb-image {
      max-width: 160px;
      margin-bottom: 1rem;
      height: auto;
  }
  div[id*="MegamenuThumbs"] .mega-thumb-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div[id*="MegamenuThumbs"] .mega-thumb-link {
    margin-bottom: 1rem;
    max-width: 160px;
  }
  div[id*="MegamenuThumbs"] .mega-thumb-link:hover {
    font-weight: 900;
    opacity: .8;
  }
  div[id*="MegamenuThumbs"] h3.megamenu-heading {
    font-size: 1.2rem;
    letter-spacing: 0.08812rem;
    line-height: 1.125rem;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 900;
    margin-bottom: 1rem;
    margin-top: 0;
  }
</style>
