{%- if section.settings.menu != blank -%}
  <nav id="Nav" class="header__inline-menu">
    <ul class="list-menu list-menu--inline top-menu">
      {%- for link in section.settings.menu.links -%}
        <li class="menu menu-{{ forloop.index }} {%- if section.settings.color_scheme == 'dark'-%}dark{%- else -%}light{%- endif -%}">
          {%- if link.links != blank -%}
            <details-disclosure>
              <details id="Details-HeaderMenu-{{ forloop.index }}">
                <summary class="header__menu-item list-menu__item link focus-inset">
                  <a href="{{ link.url }}" style="text-decoration: none;" class="menu-link menu-link-{{ forloop.index }} {% if link.levels >= 1 %}has-children{% endif %}">
                    <span class="menu-link menu-link-{{ forloop.index }} {% if link.levels >= 1 %}has-children{% endif %}">{{ link.title | escape }}</span>
                  </a>
                </summary>
              </details>
            </details-disclosure>
          {%- else -%}
              <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link--text focus-inset menu-link no-sublinks"{% if link.current %} aria-current="page"{% endif %}>
                <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
              </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
{%- endif -%}
<script src="{{ 'megamenu.js' | asset_url }}"></script>

<style type="text/css">

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 1.7rem;
  }

  li.menu details-disclosure > details{
    top: 1px;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }
  .list-menu .link--text,
  .list-menu__item.link {
      color: rgba(255,255,255,1);
      font-weight: 400;
      padding-bottom: 38px;
      border-bottom: 2px solid rgba(18,18,18,0);
      font-size: 1.1rem;
  }
  body.mobile #menu-drawer .list-menu .link--text,
  body.mobile #menu-drawer .list-menu__item.link {
      color: rgba(18,18,18,1);
  }
  .list-menu__item.no-sublinks {
    padding-bottom: 54px;
  }
  .menu-link {
    height: 40px;
    margin-bottom: -25px;
    display: inline-block;
  }

 .header .menu-link > span {
      display: inline-block;
      height: 0px;
  }
  /* ======= MOBILE ========== */
  body.mobile .list-menu__item.no-sublinks {
    padding-bottom: 74px;
    padding-left: unset;
  }
  body.mobile .list-menu--inline {
      display: inline-flex;
      flex-wrap: nowrap;
      flex-direction: column;
  }
  body.mobile .list-menu .link--text,
  body.mobile .list-menu__item.link {
      font-weight: 700;
  }

</style>

<script type="text/javascript">
  $(document).ready(function() {
    var header = $('.header');
    header.on('scroll', function() {
      if (! $('div#shopify-section-header').hasClass('shopify-section-header-sticky') ) {
        header.css({
          backgroundColor: 'transparent'
        });
      };
    });
  });//document.ready
</script>
