<h3 class="rp__title">
  <a class="{{ headline_style | downcase }}" href="{{ block_product.url }}">{{ block_product.title }}</a>
</h3>
<div class="rp__short-desc body-sm">{{ description }}</div>
<a href="{{ block_product.url }}" class="rp__cta button button--primary">Shop Now</a>
