<div class="qty-wrapper">
  <label class="form__label" for="Quantity-{{ section.id }}">
    {{ 'products.product.quantity.label' | t }}
  </label>
  <quantity-input class="quantity">
    <button class="quantity__button no-js-hidden minus" name="minus" type="button">
      <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
      {% render 'icon-minus' %}
    </button>
    <input class="quantity__input"
        type="number"
        name="quantity"
        id="Quantity-{{ section.id }}"
        min="1"
        value="1"
        form="{{ product_form_id }}"
      >
    <button class="quantity__button no-js-hidden plus" name="plus" type="button">
      <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
      {% render 'icon-plus' %}
    </button>
  </quantity-input>
</div>

<script type="text/javascript">
  jQuery(document).ready(function( $ ) {
    var val = Number($('.quantity__input').val());

    $('.quantity__button.plus').click(function() {
      val = val +  1;
      $('.quantity__input').val(val);
      console.log(val);
    });

    $('.quantity__button.minus').click(function() {
      val = val - 1;
      if ( val <= 1 ) val = 1;
      $('.quantity__input').val(val);
      console.log(val);
    });
  });
</script>
