
<div id="ReviewsSwiper" class="swiper-container swiper-container-initialized swiper-container-horizontal">
  <button type="button" class="slider-button slider-button--prev left">{% render 'icon-caret' %}</button>
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="fifty-quote__slide swiper-slide {% if forloop.index0 == 0 %}swiper-slide-active{% endif %} index-{{ forloop.index }}" >
            <div  class="fifty-quote__slide-inner flex flex-column flex-align-center">
                <a href="{{ block.settings.link }}" class="fifty-quote__slide-link">
                    <figure  class="fifty-quote__slide-image">
                      <img  alt="{{ block.settings.product_image.alt }}" data-src="{{ block.settings.product_image }}" src="{{ block.settings.product_image | img_url: '550x' }}" lazy="loaded">
                    </figure>
                </a>
                <figure  class="fifty-quote__slide-figure flex flex-column flex-align-center color-black"><span  class="fifty-quote__slide-quotemark">“</span>
                    <blockquote  class="fifty-quote__slide-quote">
                        {{ block.settings.text }}
                    </blockquote><span  class="fifty-quote__slide-quotemark">”</span>
                    <figcaption  class="fifty-quote__slide-caption"><cite  class="fifty-quote__slide-cite">-
                        {{ block.settings.link_label }}
                    </cite></figcaption>
                </figure>
            </div>
        </div>
      {% endfor %}
    </div>
    <button type="button" class="slider-button slider-button--next right">{% render 'icon-caret' %}</button>
  </div>
  <div id="ReviewsPagination" class="product-gallery__pagination swiper-pagination flex flex-justify-center flex-align-end swiper-pagination-clickable swiper-pagination-bullets">
  </div>
