
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>

<div class="search-modal modal__content  {% if section.settings.color_scheme == 'light' %}light{% else %}dark{% endif %}" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
  <div class="modal-overlay"></div>
  <div class="search-modal__content" tabindex="-1">
    {%- if settings.predictive_search_enabled -%}
      <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
    {%- endif -%}
      <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
        <div class="field">
          <input class="search__input field__input"
            id="Search-In-Modal"
            type="search"
            name="q"
            value=""
            placeholder="{{ 'general.search.search' | t }}"
            {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            {%- endif -%}
          >
          <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
          <input type="hidden" name="options[prefix]" value="last">
          <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
            <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-search">
            </svg>
          </button>
        </div>

        {%- if settings.predictive_search_enabled -%}
          <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
            <div class="predictive-search__loading-state">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>

          <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
        {%- endif -%}
      </form>
    {%- if settings.predictive_search_enabled -%}
      </predictive-search>
    {%- endif -%}
    <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
      <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
        <use href="#icon-close">
      </svg>
    </button>
  </div>
</div>

<details-modal class="header__search">
  <details open="true">
    <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
      <span>
        <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-search">
        </svg>
        <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-close">
        </svg>
      </span>
    </summary>
    <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
      <div class="modal-overlay"></div>
      <div class="search-modal__content" tabindex="-1">
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- endif -%}
          <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
            <div class="field">
              <input class="search__input field__input"
                id="Search-In-Modal-1"
                type="search"
                name="q"
                value=""
                placeholder="{{ 'general.search.search' | t }}"
                {%- if settings.predictive_search_enabled -%}
                  role="combobox"
                  aria-expanded="false"
                  aria-owns="predictive-search-results-list"
                  aria-controls="predictive-search-results-list"
                  aria-haspopup="listbox"
                  aria-autocomplete="list"
                  autocorrect="off"
                  autocomplete="off"
                  autocapitalize="off"
                  spellcheck="false"
                {%- endif -%}
              >
              <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
              <input type="hidden" name="options[prefix]" value="last">
              <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-search">
                </svg>
              </button>
            </div>

            {%- if settings.predictive_search_enabled -%}
              <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                <div class="predictive-search__loading-state">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </div>

              <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
            {%- endif -%}
          </form>
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- endif -%}
        <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
          <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
    </div>
  </details>
</details-modal>

<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>

<style type="text/css">
    .header__inline-menu {
      display: block;
      width: 66vw;
    }
    details[open] .modal-overlay::after {
      display: none;
    }
    .search-modal {
      opacity: 1;
      grid-area: icons;
    }
    .search-modal__form {
        max-width: 47.8rem;
    }
    .search-modal__content {
      padding: unset;
    }
    .modal__content {
      background: transparent;
      top: 35px;
      left: unset;
      right: 20px;
    }
    .header__icon .icon-search, .modal__close-button {
        display: none !important;
    }
    .search-modal__content .search__input.field__input{
      box-shadow: unset;
    }
    div#shopify-section-header .search-modal {
        border-bottom: 0.1rem solid rgba(255,255,255,0.5);
        height: 50px;
    }
    body:not(.mobile) div#shopify-section-header.shopify-section-header-sticky .search-modal
    {
        border-bottom: 0.1rem solid rgba(18,18,18,.7);
        height: 50px;
    }
    body.page div#shopify-section-header sticky-header .search-modal,
    body.blog div#shopify-section-header sticky-header .search-modal,
    body.article div#shopify-section-header sticky-header .search-modal
    {
        border-bottom: 0.1rem solid rgba(18,18,18,.4);
        height: 50px;
    }

    div#shopify-section-header .predictive-search {
      border: unset;
    }

    .field__button {
        top: 7px;
        right: -10px;
    }
    div#shopify-section-header .header__search {
      /*left: calc(50% - 45px);*/
      top: 10px;
      grid-area: icons;
    }
    body:not(.mobile) div#shopify-section-header .header:hover .search-modal {
        border-bottom: 0.1rem solid rgba(18,18,18,0.5);
    }
    .icon-search:hover {
      color: rgba(18,18,18,0.5);
    }
    .field__input, .customer .field input {
      padding-left: 0px;
    }
    .field__label {
      left: unset;
    }
    @media screen and (max-width: 1350px) {
      .search-modal {
        transform: scale(0.95);
        transform-origin: right;
      }
    }
    @media screen and (max-width: 1250px) {
      .search-modal {
        transform: scale(0.9);
        transform-origin: right;
      }
    }
</style>
