{%- if section.settings.menu != blank -%}
  <div class="submenu">
    {% comment %} FOR AN ICON-DRIVEN MENU {% endcomment %}
      {%- for link in section.settings.menu.links -%}
        {%- if link.title == "SHOP BY HAIR TYPE" -%}
          <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu submenu list-menu--disclosure caption-large motion-reduce {%- if link.current %} active{% endif %}  submenu-{{ forloop.index }} icon-menu" role="list" tabindex="-1">
            {%- for childlink in link.links -%}
              <li>
                {%- if childlink.links == blank -%}
                  <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                    <img
                      srcset="{{ collection.featured_image | img_url: '165x' }}"
                      src="{{ collection.featured_image | img_url: '165x' }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 3 }}px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
                      alt="{{ product.title | escape }}"
                      height="auto"
                      width="100%"
                      loading="lazy"
                      class="thumb-image"
                      >
                    <div>{{ childlink.title | escape }}</div>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- else -%}

        {% comment %} FOR DEFAULT TEXT MENU {% endcomment %}
            <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu submenu list-menu--disclosure caption-large motion-reduce {%- if link.current %} active{% endif %}  submenu-{{ forloop.index }} text-menu" role="list" tabindex="-1">
              {%- for childlink in link.links -%}
                <li>
                  {%- if childlink.links == blank -%}
                    <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                      {{ childlink.title | escape }}
                      {%- assign menuType="text" -%}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
    {%- endif -%}
  {%- endfor -%}
</div>
{%- endif -%}
{%- include "megamenu-thumbnails" -%}


    <style type="text/css">
      .submenu li a.link {
        color: rgba(18,18,18,.75);
      }

      .submenu li a.link:hover {
          color: rgba(18,18,18,1) !important;
          font-weight: 900 !important;
      }
      .submenu ul:not(.active) {
        display: none;
      }
      .submenu ul.active {
        display: block;
      }
      .submenu .link {
        padding-bottom: 20px;
      }
      .submenu .icon-menu.active {
          display: flex;
          width: 90%;
          justify-content: space-around;
          flex-direction: row;
      }
      .icon-menu a {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
      }
      .icon-menu .thumb-image {
        max-width: 160px;
      }
      </style>
