<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'page.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>

<div class="full-width">
  {% include 'slider-hero' %}

  <div class="rte main-page-template">
    {%- if section.settings.page.content != blank -%}
      {{ section.settings.page.content }}
      {% if page.metafields.custom_fields["categories"] != blank %}
        <div class="custom-field custom-field__categories custom-field__type--collection-reference">
          <h3 class="custom-field--title">Categories</h3>
          <div class="custom-field--value">
            {% assign collection_refs = page.metafields.custom_fields["categories"] | split: "|" %}
            <ul>
              {% for collection_handle in collection_refs %}
                <li>
                  {% assign collection_ref = collections[collection_handle] %}
                  {{ collection_ref.title | link_to: collection_ref.url }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    {%- else -%}
      <div class='page-placeholder-wrapper placeholder'>
        {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
      </div>
    {%- endif -%}
  </div>
</div>


{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}
