<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
    .header {
        padding-top: 4rem;
    }
  }


  #MainContent {
    margin-top: -1px;
  }
  .header {
    align-items: baseline;
  }
  .header__inline-menu {
      width: unset !important;
  }
  .header__menu-item {
    padding: 1.2rem 2.5rem;
    text-decoration: none;
  }

  .header__menu-item span {
    text-transform: uppercase;
    text-decoration: none;
  }

  .header {
      margin-bottom: -10%;
      border-bottom: 1px solid transparent;
      padding-bottom: 0px;
  }
  .header.page-width {
    max-width: unset;
  }
  .header:hover {
      background-color: rgb(255,255,255) !important;
      border-bottom: 1px solid rgba(18,18,18,.7);
  }
  .header.active  {
    background-color: white !important;
  }
  .header__heading {
      height: 23px;
  }
  .header__icon {
      color: rgba(255,255,255, .75);
  }
  .header:hover .header__icon {
      color: rgba(18,18,18,1);
  }
  .list-menu .link--text,
  .list-menu__item.link {
      color: rgb(255,255,255);
      font-weight: 400;
      padding-bottom: 38px;
      border-bottom: 2px solid rgba(18,18,18,0);
      font-size: 1.1rem;
  }
  .logo.link--text {
      color: rgb(255,255,255);
      padding-bottom: 38px;
      border-bottom: 2px solid rgba(18,18,18,0);
      padding-bottom: 36px;
      position: relative;
      top: 2px;
  }


  body.rewards .list-menu .link--text,
  body.product-page .list-menu .link--text {
      color: rgba(18,18,18,1);
  }
  body.rewards .logo.link--text,
  body.product-page .logo.link--text {
      color: rgba(18,18,18,1) !important;
  }
  .header:hover .link--text, .header.active .link--text,
  .header:hover .list-menu__item.link, .header.active .list-menu__item.link {
      color: rgb(18,18,18) !important;
  }
  .header:hover .link--text:not(.logo):hover,
  .header.active .link--text:not(.logo):hover,
  .header:hover .list-menu__item.link:hover,
  .header.active .list-menu__item.link:hover
   {
      border-bottom: 2px solid rgba(18,18,18,1);
  }
  .header__menu-item:hover span, .header__menu-item.link--text:hover {
    text-decoration: none;
  }
  .header:hover .header__menu-item:hover span,
  .header:hover .header__menu-item.link--text:hover .header__active-menu-item,
  body.product-page .header__active-menu-item  {
      color: rgba(18,18,18,.8);
  }
  .field__label, .customer .field label {
      font-size: 1.5rem;
      top: 2rem;
      font-weight: 300;
  }
  .search-modal__content {
      position: relative;
  }
  div#shopify-section-header {
      margin-top: 30px;
  }
  div#shopify-section-header * {
      transition: all 0.1s ease;
  }

  div#shopify-section-header .color-background-1,
  div#shopify-section-header .field__input,
  div#shopify-section-header .field__label,
  div#shopify-section-header .link--text:hover
  {
      color: rgb(255,255,255);
  }
  div#shopify-section-header .header:hover .color-background-1,
  div#shopify-section-header .header:hover .field__input,
  div#shopify-section-header .header:hover .field__label,
  div#shopify-section-header .header:hover .link--text:hover,
  div#shopify-section-header .header:hover .predictive-search__item.link--text,
  div#shopify-section-header .header:hover .search__button .icon,
  body.product-page div#shopify-section-header .header:hover .search__button .icon,
  body.product-page div#shopify-section-header .color-background-1,
  body.product-page div#shopify-section-header .field__input,
  body.product-page div#shopify-section-header .field__label,
  body.product-page div#shopify-section-header .link--text:hover,
  body.product-page div#shopify-section-header .header:hover .predictive-search__item.link--text,
  body.product-page div#shopify-section-header .header:hover .search__button .icon,
  body.product-page div#shopify-section-header .field__button .icon {
    color: rgba(18,18,18,0.5) !important;
  }

  body.product-page div#shopify-section-header .search-modal {
    border-bottom: 0.1rem solid rgba(18,18,18,.5) !important;
  }

  div#shopify-section-header .header.active .color-background-1,
  div#shopify-section-header .header.active .field__input,
  div#shopify-section-header .header.active .field__label,
  div#shopify-section-header .header.active .link--text:hover,
  div#shopify-section-header .header.active .predictive-search__item.link--text,
  div#shopify-section-header .header.active .search__button .icon,
  div#shopify-section-header.shopify-section-header-sticky .color-background-1,
  div#shopify-section-header.shopify-section-header-sticky .field__input,
  div#shopify-section-header.shopify-section-header-sticky .field__label,
  div#shopify-section-header.shopify-section-header-sticky .link--text:hover,
  div#shopify-section-header.shopify-section-header-sticky .predictive-search__item.link--text,
  div#shopify-section-header.shopify-section-header-sticky .search__button .icon {
    color: rgba(18,18,18,0.5) !important;
  }
  div#shopify-section-header:not(.shopify-section-header-sticky) .header-wrapper.gradient {
    background-color: transparent;
  }
  .shopify-section-header-sticky {
    top: 30px;
  }
  .shopify-section-header-sticky .header {
    background-color: transparent;
  }
  div#shopify-section-header:not(.shopify-section-header-sticky) .header:not(.active) {
    background-color: transparent !important;
  }
  div#shopify-section-header:not(.shopify-section-header-sticky) .header:not(.active):hover {
    background-color: white !important;
  }
  .shopify-section-header-sticky .header .link--text {
    color: rgba(18,18,18,1);
  }
  .shopify-section-header-sticky .header .link--text:hover {
    color: unset;
  }
  .shopify-section-header-sticky .header .link--text span:hover {
    color: rgba(18,18,18,.6);
  }

  #shopify-section-announcement-bar {
    position: fixed;
    width: 100vw;
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  .svg-logo {
      height: auto;
      width: 100px;
  }

</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header header--{{ section.settings.logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %} {% if section.settings.color_scheme == 'accent-1' %}light{% else %}dark{% endif %}">
    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
            </span>
          </summary>
          {% include 'menu-drawer' %}
        </details>
      </header-drawer>
    {%- endif -%}
    {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}

    {%- endif -%}

    {%- if request.page_type == 'index' -%}
      <h1 class="header__heading">
    {%- endif -%}
        <a href="{{ routes.root_url }}" class="logo header__heading-link link link--text focus-inset">
            {%- render "logo.svg" -%}
        </a>
    {%- if request.page_type == 'index' -%}
      </h1>
    {%- endif -%}

        {% include 'nav-menu' %}
        {% include 'search' %}

  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}

{% include 'megamenu' %}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }


      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>

  <script src="{{ 'megamenu.js' | asset_url }}" defer="defer"></script>

{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Light"
        },
        {
          "value": "accent-2",
          "label": "Dark"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "url",
      "id": "hair_care_system_link_1",
      "label": "Hair Care System Link 1"
    },
    {
      "type": "url",
      "id": "hair_care_system_link_2",
      "label": "Hair Care System Link 2"
    },
    {
      "type": "url",
      "id": "hair_care_system_link_3",
      "label": "Hair Care System Link 3"
    }
  ]
}
{% endschema %}
