{% assign tabs = product.metafields.custom_fields["tabs"] %}
{% assign headline = product.metafields.custom_fields["tabs_headline"] %}


<div id="ProductTabs" class="tabbed-section">
  <tabs class="container" id="product-tabs">
      {%- if headline != blank -%}
        <div class="custom-field custom-field__tabs-headline custom-field__type--text">
          <div class="custom-field--value heading">
            <h3>{{ headline }}</h3>
          </div>
        </div>
      {%- endif -%}
      <div class="tab-labels">
        {%- for tab in tabs -%}
          <div class="tab-label">
            <button class="tab-btn tab-btn-{{ forloop.index }} {%- if forloop.first -%}active{%- endif -%}">{{ tab["heading"] }}</button>
          </div>
        {%- endfor -%}
      </div>
      {%- for tab in tabs -%}
        <tab heading="{{ tab['heading'] }}" class="tab-section tab-{{ forloop.index }} {%- if forloop.first -%}active{%- endif -%}">
          <div class="tab-content">
            {{ tab["copy"] }}
          </div>
        </tab>
      {%- endfor -%}
  </tabs>
</div>

<style type="text/css">
  #ProductTabs {
    width: 100%;
    background-color: rgb(246, 246,246);
    margin: 0;
    padding: 5rem;
  }
  #ProductTabs tabs {
    display: block;
    border: 1px solid rgba(18,18,18,.2);
    min-height: 200px;
    width: 100%;
    max-width: 1600px;
    background-color: white;
    padding: 3rem;
    margin: 0 auto;
  }
  #ProductTabs .tab-section:not(.active) {
    display: none;
  }
  #ProductTabs .tab-content {
    padding: 2rem 0;
  }
  #ProductTabs .tab-labels {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      flex-direction: row;
      margin-top: 5rem;
      border-bottom: 1px solid rgba(18,18,18,.75);
  }
  @media screen and (max-width: 768px) {
    #ProductTabs .tab-labels {
      grid-template-columns: unset;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
  #ProductTabs .tab-btn {
    background-color: transparent;
    border: 1px solid rgba(18,18,18,.75);
    border-bottom: 1px solid white;
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    min-width: 300px;
    display: inline-block;
    padding: 1rem 5rem;
    position: relative;
    top: 1px;
  }
  @media screen and (max-width: 1100px) {
    #ProductTabs .tab-btn {
      min-width: unset;
    }
  }
  #ProductTabs .tab-btn:not(.active) {
    opacity: .3;
    cursor: pointer;
  }
  #ProductTabs .tab-btn:not(.active):hover {
    background-color: rgba(18,18,18,.05);
  }
  #ProductTabs .tab-section:not(.active) {
    display: none;
  }
  #ProductTabs .heading h3 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }
  #ProductTabs p {
    margin: 0;
  }
  #ProductTabs accordion .wysiwyg {
    color: rgba(18,18,18,1) !important;
  }
  #ProductTabs accordion > div {
    padding: 1.5rem 0 .5rem 0;
    border-top: 1px solid silver;
    font-weight: 700;
    font-size: 1.5rem;
  }
  @media screen and (max-width: : 768px) {
    #ProductTabs accordion > div {
        padding: 1.5rem 3rem .5rem 0;
    }
  }
  #ProductTabs accordion > div:hover {
    cursor: pointer;
    background-color: rgba(18,18,18,.05);
  }
  #ProductTabs accordion > div p {
    display: block;
    overflow: hidden;
    height: fit-content;
    font-weight: 400;
    font-size: 1.3rem !important;
    margin-top:  1rem;
  }
  #ProductTabs accordion.collapse > div p {
    height: 0px;
  }
  #ProductTabs accordion.collapse .wysiwyg::before {
      content: "+";
      font-weight: 700;
      font-size: 4rem;
      position: absolute;
      left: 88%;
      margin-top: -1.8rem;
  }
  #ProductTabs accordion:not(.collapse) .wysiwyg::before {
      content: "\2014";
      font-weight: 700;
      font-size: 4rem;
      position: absolute;
      left: 88%;
      margin-top: -1.8rem;
  }
  @media screen and (max-width: 1100px) {
    #ProductTabs accordion.collapse .wysiwyg::before {
        left: 85%;
    }
    #ProductTabs accordion:not(.collapse) .wysiwyg::before {
        left: 85%;
    }
  }
  @media screen and (max-width: 768px) {
    #ProductTabs accordion.collapse .wysiwyg::before {
        left: 80%;
    }
    #ProductTabs accordion:not(.collapse) .wysiwyg::before {
        left: 80%;
    }
  }
</style>

<script type="text/javascript">
  var btns = document.getElementsByClassName('tab-btn'),
      ln = btns.length,
      tabIdx = 1;

  $('accordion').addClass('collapse');
  var accordions = $('accordion .wysiwyg');
  for (i=0; i < accordions.length; i++) {
    var accHeading = $(accordions.eq(i)).parent().attr('heading');
    $(accordions.eq(i)).prepend("<span>" + accHeading + "</span>");
  }
  $('accordion > div').click(function(event) {
    var t = $(event.target).parent();
    t.toggleClass("collapse");
  });

  $('.tab-btn').click(function() {
    removeActive();
    var classList = $(this).attr("class").split(/\s+/);
    tabIdx = Number(classList[1].substr(-1, 1));
    addActive(tabIdx);
  });

  function removeActive() {
    $('.tab-btn, .tab-section').removeClass("active");
  }
  function addActive() {
    $('.tab-btn-'+tabIdx+', .tab-section.tab-'+tabIdx).addClass("active");
  }

</script>

{% schema %}
{
  "name": "Product Tabs",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
      {
        "type": "checkbox",
        "id": "product-tabs",
        "default": false,
        "label": "Show Product Tabs"
      }
  ],
  "presets": [
    {
      "name": "Product Tabs"
    }
  ]
}
{% endschema %}
