{% if product.metafields.custom_fields["steps"] != blank %}
  <div id="Steps" class="custom-field custom-field__steps custom-field__type--field-collection-json {{ item['background_color'] }}">
    <div class="custom-field--value container">
      {% for item in product.metafields.custom_fields["steps"] %}
        <div class="slide {% if forloop.first == true %}open{% else %}closed{% endif %}" style="background-color:
          {% if item['background_color']=='waterscape' %}#abbab1
          {% elsif item['background_color']=='watermist' %}#bcc4bd
          {% elsif item['background_color']=='cream' %}#d8d8d4
          {% elsif item['background_color']=='coralclay' %}#e0b19d
          {% elsif item['background_color']=='rosybrown' %}#e0c0b1
          {% elsif item['background_color']=='dryrock' %}#bcb8b5
          {% elsif item['background_color']=='sepia' %}#bfbbac
          {% endif %};">
          <div class="fc-item fc-index--{{ forloop.index0 }} card">
              <div class="interior-container">
               {% if item["copy"] != blank %}
                <div class="step-pane pane-{{ forloop.index }}">
                  <h3>STEP</h3>
                  <div class="number">
                    {% if forloop.index == 1 %}
                    <img src="https://cdn.shopify.com/s/files/1/2380/1623/t/22/assets/one.png?v=8370369740517163423"/>
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret right step-1" viewBox="0 0 10 6">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                    </svg>
                    {% elsif forloop.index == 2 %}
                    <img src="https://cdn.shopify.com/s/files/1/2380/1623/t/22/assets/two.png?v=10915717322054849032" />
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret right step-2" viewBox="0 0 10 6">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                    </svg>
                    {% elsif forloop.index == 3 %}
                    <img src="https://cdn.shopify.com/s/files/1/2380/1623/t/22/assets/three.png?v=4138632505702058250" />
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret right step-3" viewBox="0 0 10 6">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                    </svg>
                    {% endif %}
                  </div>
                </div>
                 <div class="fc-field field__copy field-type--html step-copy">
                   <div class="custom-field--value">
                     {{ item["copy"] }}
                   </div>
                 </div>
               {% endif %}
               {% if item["image"] != blank %}
                 <div class="fc-field field__image field-type--image image-col">
                   <div class="custom-field--value">
                     <img src='{{ item["image"] }}' class='step-image' alt='{{ item["alt_text"] }}'/>
                   </div>
                 </div>
               {% endif %}
             </div>
           </div>
         </div>
       {% endfor %}
    </div>
  </div>
{% endif %}


<style type="text/css">
  #Steps {
    padding: 3rem;
    background-color: rgb(246, 246,246);
    margin-bottom: 4rem;
  }
  body.mobile #Steps {
    padding: 1rem;
  }
  #Steps .step-image {
    max-height: 600px;
  }
  #Steps .container {
    width: 100%;
    display: flex;
  }
  body.mobile #Steps .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #Steps .card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #Steps .card .interior-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  body.mobile #Steps .card .interior-container {
    flex-direction: column;
  }
  #Steps .slide {
    overflow: hidden;
  }
  #Steps .slide.closed .card {
    width: inherit;
    min-width: 150px;
  }
  #Steps .slide.open .card {
    width: 100%;
  }
  #Steps .slide.open {
    flex-grow: 4;
    flex-basis: 80%;
    animation-name: slidey-open;
    animation-duration: 1s;
  }
  #Steps .slide.closed {
    flex-grow: 1;
    flex-basis: 10%;
    animation-name: slidey-close;
    animation-duration: 1s;
  }
  #Steps .slide.closed .card:hover {
    background-color: #FFFFFF !important;
  }
  #Steps .step-pane {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  body.mobile #Steps .slide.open .step-pane {
    margin-bottom: 2rem;
	}
  body.mobile #Steps .step-pane {
    flex-direction: row;
    align-items: start;
  }
  #Steps .slide.open .step-pane {
    margin-top: 3rem;
    animation-name: fade-in;
    animation-duration: 1.5s;
  }
  #Steps .slide.closed .step-pane {
    margin-top: auto;
    margin-bottom: 3rem;
  }
  body.mobile #Steps .slide.closed .step-copy {
      opacity: 0;
      display: none;
  }
  #Steps .slide.closed .step-pane img {
    margin-top: 60px;
  }
  #Steps .image-col {
      margin-top: 0;
      margin-bottom: -10px;
      margin-left: auto;
  }
    body.mobile #Steps .image-col {
    margin-left: 0;
	}
  body.mobile .field__image .custom-field--value,
  body.mobile #Steps .step-image {
    height: 50vh;
    width: 100%;
  }
  body.mobile #Steps .slide.closed .step-image {
    display: none;
  }
  body.mobile .field__image .custom-field--value {
    height: unset;
  }
  #Steps .step-pane h3 {
    font-size: 1.1rem;
    padding-left: 9rem;
  }
  #Steps .slide.closed h3 {
    transform: rotate(90deg);
  }
  body.mobile #Steps .slide.closed h3 {
    margin-left: -40px;
  }
  #Steps .slide.open h3 {
    padding-left: unset;
    text-align: center;
    min-width: 150px;
  }
  body.mobile #Steps .slide.open h3 {
    min-width: 70px;
  }
  #Steps .step-copy {
    padding: 5rem 2rem;
    align-self: flex-end;
  }
  body.mobile #Steps .step-copy {
    padding: 5rem;
    align-self: flex-start;
	}
  #Steps .step-copy p {
    margin: 0;
    font-size: 1.3rem !important;
    position: static;
    width: 215px;
  }
  #Steps .slide.open .step-copy {
    opacity: 1;
    animation-name: fade-in;
    animation-duration: 1.5s;
  }
  #Steps .slide.closed .step-copy {
    opacity: 0;
  }

  @keyframes slidey-open {
    0% {
      flex-basis: 10%;
    }
    100% {
      flex-basis: 80%;
    }
  }
  @keyframes slidey-close {
    0% {
      flex-basis: 80%;
    }
    100% {
      flex-basis: 10%;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      padding-bottom: 0rem;
    }
    100% {
      opacity: 1;
      padding-bottom: 5rem;
    }
  }

  #Steps .number {
    display: flex;
  }
  body.mobile #Steps .slide.closed .number {
    margin-left: -50px;
  }
  #Steps .number .icon.right {
    width: 20px;
    transform: rotate(-90deg);
    margin-left: 10px;
    opacity: .5;
    margin-top: 40px;
  }
  #Steps .number:hover .icon.right {
    opacity: 1;
  }
  #Steps .open .number .icon.right {
    width: 30px;
    transform: rotate(-90deg);
    margin-top: unset;
    visibility: hidden !important;
  }
  #Steps .closed + .closed .number .icon.step-2 {
    transform: rotate(-90deg);
  }
  #Steps .closed .number .icon.step-2 {
    transform: rotate(90deg);
  }
  #Steps .closed .number .icon.step-3 {
    transform: rotate(90deg);
  }
</style>

<script type="text/javascript">
  var panelWd = $('#Steps .container').width(),
      sl = $('#Steps .slide');
  $('#Steps .card.open').css("width", panelWd+"px");
  var stepsBtn = $('#Steps .interior-container');
  $(stepsBtn).click(function(event) {
    var t = $(event.target).closest('.slide');

    console.log(t);
    if ( $(sl).hasClass('open') ) {
      $(sl).removeClass('open');
      $(sl).addClass('closed');
    }
    if ( $(t).hasClass('closed') ) {
      t.removeClass("closed");
      t.addClass("open");
    }

  });

</script>

{% schema %}
{
  "name": "Step Slider",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
      {
        "type": "checkbox",
        "id": "step-slider",
        "default": false,
        "label": "Show Step Slider"
      }
  ],
  "presets": [
    {
      "name": "Step Slider"
    }
  ]
}
{% endschema %}
